@media screen and (max-width: 554px){
   .hero-section ul{
     display: none;
   }
}

@media screen and (min-width: 555px) and  (max-width: 769px){
  .text-span{
    display: none;
  }
  
  .wrapper{
    display: flex;
  }
  .wrapper .statich1 h1{
    font-size: xx-large;
  }
  .wrapper .dynamic-text{
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
  }
  .dynamic-text li{
    list-style: none;
    font-size: xx-large;
    font-weight: bold;
    color: #151542;
    position: relative;
    top: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.35);
    animation: slide 10s steps(5) infinite;
  }
  @keyframes slide{
    100%{
      top: -200px;
    }
  }
  .dynamic-text li span{
    position: relative;
  }
  .dynamic-text li span::after{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    background: #e6ebfb;
    border-left: 3px solid #151542;
    animation: typing 2s steps(11) infinite;
  }
  
  @keyframes typing{
    100%{
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }
}
@media screen and (min-width: 770px){
  .her-section ul, #toggle-btn{
    display: none;
  }
  /* .text-span{
    display: none;
  }
  .wrapper{
    display: flex;
  }
  .wrapper .statich1 h1{
    font-size: 45px;
  }
  .wrapper .dynamic-text{
    padding-left: 5px;
    height: 45px;
    line-height: 49px;
    overflow: hidden;
  }
  .dynamic-text li{
    list-style: none;
    font-size: 45px;
    color: #151542;
    position: relative;
    top: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.35);
    animation: slide 10s steps(5) infinite;
  }
  @keyframes slide{
    100%{
      top: -240px;
    }
  }
  .dynamic-text li span{
    position: relative;
  }
  .dynamic-text li span::after{
    content: "";
    position: absolute;
    height: 87%;
    left: 0;
    width: 100%;
    background: #f6f7fa;
    border-left: 3px solid #151542;
    animation: typing 2s steps(12) infinite;
  }
  
  @keyframes typing{
    100%{
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  } */ 
}


